<%- include('header.ejs') %>
    <h1 class="destinationsTitle">Our destinations</h1>
    <div class="destContainer">
        <% destinationsData.forEach(destination=> { %>
            
                <div class="destCard">
                    <%= destination.id %>
                    <img src="<%= destination.image %>" alt="">

                    <div class="cardContainer">

                        <h4>
                            <%= destination.location %>
                        </h4>
                        <p>
                            <%= destination.description %>
                        </p>
                        <a href="/singleDestination?id=<%= destination.id %>">
                            <%= destination.name %> - <%= destination.id %>
                        </a>
                    </div>
                </div>
            
            <% }) %>

    </div>
    <%- include('footer.ejs') %>