<%- include('header.ejs') %>

    <h1 class="destinationsTitle">Our destinations</h1>
    <main class="destContainer">
        <% destinationsData.forEach(destination=> { %>

            <section class="destCard">
                <a href="/singleDestination?id=<%= destination.id %>">
                    <img src="/img/<%= destination.image %>" alt="" width="100%" height="60%">

                    <article class="cardContainer">

                        <h4>
                            <%= destination.name %>
                        </h4>
                        <p>
                            <%= destination.shortDescription %>
                        </p>

                    </article>
                </a>
            </section>


            <% }) %>
    </main>

    <%- include('footer.ejs') %>