<%- include('header.ejs') %>

    <main class="container">
        <section class="photo">
            <h1 class="singleTitle">
                <%= singleDestinationData.name %>
            </h1>
            <img src="/img/<%= singleDestinationData.image %>" alt="">
        </section>
        <section class="textInfo">
             <h3>
                <%= singleDestinationData.name %> - <%= singleDestinationData.location %>
                        </h3>
                        <article class="desc">
                            <p>
                                <%= singleDestinationData.description %>
                            </p>
                        </article>
                        <article class="practical">
                            <p>
                               It takes <%= singleDestinationData.duration %> to visit
                            </p>
                            <p>
                               <strong>price:</strong> <%= singleDestinationData.price %> €
                            </p>
                        </article>

        </section>
    </main>

    <%- include('footer.ejs') %>